.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  height: 231px;
  overflow: hidden;

  text-align: center;
  cursor: pointer;
  transition: transform 1s;

  &:hover {
    position: absolute;
    background-color: #eee;
    box-shadow: 0 0 0 10px #eee;
    height: 270px;
    transform: scale(1.2);
    z-index: 2;
  }

  &:hover &__img {
    border-radius: 60px;
  }

  &__photo {
    margin-bottom: 8px;
  }

  &__img {
    width: $card-width;
    border-radius: 50%;
    transition: border-radius 1s;
  }

  &__rank {
    position: absolute;
    top: 84px;
    right: 10px;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    color: $c-brown;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__details {
    position: relative;
  }

  &__name {
    display: block;
    margin-bottom: 9px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  &__extra {
    display: block;
    margin-bottom: 6px;

    font-size: 18px;
    line-height: 21px;
  }

  &__sport {
    &::after {
      content: ",";
    }
  }

  &__pay {
    &::before {
      content: "$";
    }

    &::after {
      content: "M";
    }
  }
}